<a href="https://colab.research.google.com/github/LohanRosa/quantile/blob/main/exercicio_quantile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded =  files.upload()

Saving df_exemplo_m2w1.csv to df_exemplo_m2w1.csv

In [ ]:
import pandas as pd
import numpy as np
df =  pd.read_csv('df_exemplo_m2w1.csv',  delim_whitespace=True)

In [ ]:
df.head()

,Sta_ID,Depth_ID,Depthm,T_degC,O2Sat,Salnty
44.0,48.5,19-4904CR-HY-087-0606-04400485-0000B-3,0,10.30,92.8,33.030
44.0,48.5,19-4904CR-HY-087-0606-04400485-0006A-3,6,18.46,111.8,32.920
44.0,48.5,19-4904CR-HY-087-0606-04400485-0010A-7,10,10.29,95.0,32.951
44.0,48.5,19-4904CR-HY-087-0606-04400485-0015A-3,15,10.29,95.3,32.990
44.0,48.5,19-4904CR-HY-087-0606-04400485-0020A-7,20,10.33,95.1,33.005

In [ ]:
df.T

,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,...,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7
Sta_ID,48.5,48.5,48.5,48.5,48.5,48.5,48.5,48.5,48.5,48.5,...,115.0,115.0,115.0,115.0,115.0,115.0,115.0,115.0,115.0,115.0
Depth_ID,19-4904CR-HY-087-0606-04400485-0000B-3,19-4904CR-HY-087-0606-04400485-0006A-3,19-4904CR-HY-087-0606-04400485-0010A-7,19-4904CR-HY-087-0606-04400485-0015A-3,19-4904CR-HY-087-0606-04400485-0020A-7,19-4904CR-HY-087-0606-04400485-0030A-7,19-4904CR-HY-087-0606-04400485-0031A-3,19-4904CR-HY-087-0606-04400485-0047A-3,19-4904CR-HY-087-0606-04400485-0050A-7,19-4904CR-HY-087-0606-04400485-0064A-3,...,19-4911BD-HY-318-2130-03671150-0600A-7,19-4911BD-HY-318-2130-03671150-0620A-3,19-4911BD-HY-318-2130-03671150-0700A-7,19-4911BD-HY-318-2130-03671150-0800A-7,19-4911BD-HY-318-2130-03671150-0900A-7,19-4911BD-HY-318-2130-03671150-0921A-3,19-4911BD-HY-318-2130-03671150-1000A-7,19-4911BD-HY-318-2130-03671150-1100A-7,19-4911BD-HY-318-2130-03671150-1200A-7,19-4911BD-HY-318-2130-03671150-1247A-3
Depthm,0,6,10,15,20,30,31,47,50,64,...,600,620,700,800,900,921,1000,1100,1200,1247
T_degC,10.3,18.46,10.29,10.29,10.33,10.39,10.4,10.36,10.35,10.25,...,4.92,4.84,4.54,4.21,3.96,3.91,3.73,3.51,3.29,3.18
O2Sat,92.8,111.8,95.0,95.3,95.1,94.8,94.8,91.1,90.8,88.1,...,10.1,9.8,7.6,5.8,4.8,4.8,5.4,6.4,7.3,7.6
Salnty,33.03,32.92,32.951,32.99,33.005,33.054,33.06,33.15,33.167,33.26,...,34.218,34.23,34.273,34.321,34.362,34.37,34.401,34.44,34.481,34.5

In [ ]:
df.shape

(774, 6)

In [ ]:
df.head()

,Sta_ID,Depth_ID,Depthm,T_degC,O2Sat,Salnty
44.0,48.5,19-4904CR-HY-087-0606-04400485-0000B-3,0,10.30,92.8,33.030
44.0,48.5,19-4904CR-HY-087-0606-04400485-0006A-3,6,18.46,111.8,32.920
44.0,48.5,19-4904CR-HY-087-0606-04400485-0010A-7,10,10.29,95.0,32.951
44.0,48.5,19-4904CR-HY-087-0606-04400485-0015A-3,15,10.29,95.3,32.990
44.0,48.5,19-4904CR-HY-087-0606-04400485-0020A-7,20,10.33,95.1,33.005

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 774 entries, 44.0 to 36.7
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sta_ID    774 non-null    float64
 1   Depth_ID  774 non-null    object
 2   Depthm    774 non-null    int64
 3   T_degC    774 non-null    float64
 4   O2Sat     774 non-null    float64
 5   Salnty    774 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 58.5+ KB

In [ ]:
df.describe()

           Sta_ID       Depthm      T_degC       O2Sat      Salnty
count  774.000000   774.000000  774.000000  774.000000  774.000000
mean    87.118863   341.350129    8.229354   50.802842   33.601654
std     19.069087   350.328591    3.929834   37.697035    0.656640
min     48.500000     0.000000    2.880000    3.400000   32.160000
25%     68.000000    62.000000    4.865000    9.725000   32.900000
50%     77.000000   200.000000    7.710000   45.050000   33.848500
75%     96.000000   587.250000   10.285000   92.100000   34.187000
max    115.000000  1316.000000   18.700000  120.000000   34.520000

In [ ]:
df["Salnty"].mean()

33.601653746770026

In [ ]:
df["Salnty"].std()

0.6566401437630878

In [ ]:
df["Salnty"].median()

33.8485

In [ ]:
df["Salnty"].min()

32.16

In [ ]:
df["Salnty"].quantile(0.25)

32.9

In [ ]:
df["Salnty"].quantile(0.50)

33.8485

In [ ]:
df["Salnty"].quantile(0.75)

34.187

In [ ]:
df["Salnty"].max()

34.52

In [ ]:
df["Salnty"].mode()

0    32.74
dtype: float64